h2 Book show

h2.title タイトル
= @book.title
h3.author 著者
= @book.author
p.description 内容
= @book.description
h3.isbn ISBN
= @book.isbn

p
- unless @book.on_loan
  = link_to 'かりる', ledgers_path(params: {id: @book.id}), :method => :post
