@import "bourbon";
@import "neat";

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}


.page{
  @include grid-container;
}

$article-layout-grid: (
        columns: 1,
        gutter: 2rem,
);

.topNav{
  @include grid-column(1, $article-layout-grid);
  padding:0px;
  margin-bottom: 1rem;
  display: block;
  background: skyblue;
  padding:10px;
  @extend .clearfix;
}

$menuFontSize: 20px;

.icon{
  color: black;
  margin:0px;
  font-size: $menuFontSize;
  line-height: $menuFontSize+5px;
  float: left;
}

.topNav-menu{
  float: right;
  margin:0px;
  color: black;
  li{
    display: inline-block;
    list-style-type: none;
    margin-left:3px;
    font-size: $menuFontSize;
    line-height: $menuFontSize+5px;
    text-align: center;
  }
}

.content {
  @include grid-column(1, $article-layout-grid);
}

$book-grid: (
        columns: 4,
        gutter: 20px,
);

.book{
  text-align: center;
  color: #000000;
  font-size: 20px;
  border: 2px solid rgba(255, 144, 10, 0.44);
  margin-bottom: 10px;
  .contener{
    @include grid-container;
    .col-1 {
      @include grid-column(1,$book-grid);
    }
    .col-2 {
      @include grid-column(2,$book-grid);
    }
    .col-3 {
      @include grid-column(3,$book-grid);
    }

  }
  .title{
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .author{
    margin-bottom: 5px;
  }
}


//説明文を指定した高さで省略
// Variables
$container-bg: #eee;
$font-size-base: 14px;
$line-height-computed: 1.4;
$lines-to-show: 3;

// Reset
p {
  margin: 0;
}

// Multiline text with ellipsis
// Supported IE and Firefox
.description {
  background: white;
  overflow: hidden;
  width: 100%;
  p {
    font-size: $font-size-base;
    height: $font-size-base * $line-height-computed * $lines-to-show;
    line-height: $line-height-computed;
    text-align: left;
    position: relative;
    &:before,
    &:after {
      background: white;
      position: absolute;
    }
    &:before {
      content: "...";
      top: $font-size-base * $line-height-computed * ($lines-to-show - 1);
      right: 0;
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
    }
  }
}

$container-bg: #eee;
$font-size-base2: 16px;
$line-height-computed: 1.4;
$lines-to-show: 3;

.title {
  background: white;
  overflow: hidden;
  width: 100%;
  h2 {
    font-size: $font-size-base2;
    height: $font-size-base2 * $line-height-computed * $lines-to-show;
    line-height: $line-height-computed;
    text-align: left;
    position: relative;
    &:before,
    &:after {
      background: white;
      position: absolute;
    }
    &:before {
      content: "...";
      top: $font-size-base2 * $line-height-computed * ($lines-to-show - 1);
      right: 0;
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
    }
  }
}